ansible/roles/nvidia/cuda/files/usr/local/bin/dcgm-exporter-amd64 filter=lfs diff=lfs merge=lfs -text
ansible/roles/nvidia/cuda/files/usr/local/bin/dcgm-exporter-arm64 filter=lfs diff=lfs merge=lfs -text
ansible/roles/nvidia/cuda/files/usr/bin/dcgm-exporter-amd64 filter=lfs diff=lfs merge=lfs -text
ansible/roles/nvidia/cuda/files/usr/bin/dcgm-exporter-arm64 filter=lfs diff=lfs merge=lfs -text
